{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
          <tr>
            <td>Temperatura</td>
            <td>Humedad</td>
          </tr>
        </thead>
        <tbody>
          {% for date in dats.val() %}
          <tr>
            <td colspan="2">{{date}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}